body {
    background-color: azure;
    font-family: Calibri;
}

.logo-box {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-left: solid black;
}

.task-box {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.task-box > div {
    font-size: 25px;
}

.add-box {
    margin-top: 20px;
    margin-bottom: 20px;
}


