body {
    background-color: azure;
    font-family: Calibri;
}

.logo-box {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 90%;
    border-left: solid black;
}

.logo-box > h1 {
    font-size: 55px;
    letter-spacing: 4px;
}

.sort-box {
    margin-bottom: 30px;
}

.btn {
    border-radius: 0;
}

.task-box {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
.task-box > div {
    font-size: 25px;
    text-align: center;
}

.add-box {
    margin-top: 20px;
    margin-bottom: 20px;
}

.no-border {
    border: 0 !important;
}

.row {
    border-bottom: solid black;
}

[class^="col"], input.btn {
    height: 50px;
 }

